#menu {
  height: 600px;
  width: 390px;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
}

h3 {
  color: orange;
}

button {
  height: 45px;
  width: 390px;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: green;
  background-color: black;
}


button:hover {
  background: #59A3E0;
  text-decoration: none;
  filter: none;
  } 
